<div style="margin:30px;">
    <h1>Generate CSV File From iPad Backup</h1>
    <h3>Input Starting Date for CSV File Here</h3>
    <div style="display:inline-block; min-height:290px;">
      <uib-datepicker ng-model="main.startDate" show-weeks="true" class="well well-sm"></uib-datepicker>
    </div>
    <h3>Input FlightIndex.plist Here</h3>
    <p>On the iPad, make a local backup of your flights.  Find the zip file in your files app, and extract it.  Then find your FlightIndex.plist file (near the bottom) and input it here.</p>
    <input class="form-control" type="file" id="file" name="file" ng-model="main.file" ng-change="main.inputChange()"/>
      <br>
    <input style="width:50px;" class="form-control" type="checkbox" ng-model="main.multiple" id="multiple" name="multiple"/>
    <label for="multiple">Check box above to have a separate row for each flight leg.  Default is one line per flight number.</label>
    <br>
    <button class="btn btn-success" ng-click="main.add()" ng-if="main.isThereAFile()" ng-disabled="main.isItLoading()">
      <span ng-if="main.isItLoading()" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
      Add Plist File and Go</button>
    <br>
    <br>
    <a class="btn btn-primary" download="result.csv" ng-href="{{ main.url }}" ng-click="main.download()" ng-if="main.isItComplete()">Download CSV File</a>
    <button class="btn btn-success" ng-if="main.isItFullyComplete()">Success! Check Download Folder!</button>
  </div>